<div class="container">
  <h2 class="text_footer">TODO LIST</h2>
  <div class="add-button">
    <a mat-raised-button color="primary" target="_blank" class="link" (click)="onOpenModal(null, 'add')">Добавить задание</a>
  </div>
</div>

  <div class="container_1" id="main-container">
    <div class="col col-container">
      <mat-card *ngFor="let list of lists" class="list_card">
        <mat-card-content class="card_1">
              <h2 class="card-title">{{list?.title}}</h2>
        </mat-card-content>      
        <mat-card-content class="card_2">
              <div class="card-text">{{list?.contentText}}</div> <br>
                <input type="checkbox" [(ngModel)]="list.completed" (change)="onCheckboxChange(list)"/>
        </mat-card-content>  
        <mat-card-actions>  
          <a mat-button color="primary" (click)="onOpenModal(list, 'edit')">Edit</a>
          <a mat-button class="btn_delete" color="warn" (click)="onOpenModal(list, 'delete')">Delete</a>
        </mat-card-actions>
      </mat-card>
    </div>  



  <div id="addListModal">
    <form #addForm="ngForm" (ngSubmit)="onAddList(addForm)">
        <mat-form-field class="add-full-width">
            <input ngModel name="title" matInput placeholder="Введите заголовок" required>
        </mat-form-field>
    <br>
        <mat-form-field class="add-full-width">
            <textarea ngModel name="contentText" matInput placeholder="Задание" required></textarea>
        </mat-form-field>
    <br>
        <button type="button" mat-raised-button color="warn" id="add-employee-form" data-dismiss="modal">Close</button>
        <button type="submit" mat-raised-button color="primary" class="btn_create" [disabled]="addForm.invalid">Create</button>

    </form>
  </div>


  <div id="updateListModal">
    <form #editForm="ngForm" *ngIf="editList">
      <mat-form-field class="add-full-width">
        <input type="text" [(ngModel)]="editList.title" name="title" id="title" matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="add-full-width">
        <textarea [(ngModel)]="editList.contentText" name="contentText" id="contentText" matInput></textarea>
      </mat-form-field>
      <button (click)="onUpdateList(editList)" mat-raised-button data-dismiss="modal" color="primary">Save</button>
    </form>
  </div>
  

  <div  id="deleteListModal">
    <h2 mat-dialog-title>Delete List</h2>
      <div mat-dialog-content>
        <p>Are you sure you want to delete task:  {{deleteList?.title}}?</p>
      </div>
      <div mat-dialog-actions>
        <button mat-button color="primary"  data-dismiss="modal">No</button>
        <button mat-button color="warn" (click)="deleteList && onDeleteList(deleteList.id)" data-dismiss="modal">Yes</button>
      </div>
  </div>

</div> 



 

